
#container {
    display:flex;
    flex-direction:row;
}

#display {
    display:flex;
    flex-direction:column;
    border-radius:1px;
    border-style:inset;
    border-color:grey;
    position:sticky;
    left:400px;
    max-width: 40%;
    text-overflow:wrap;
}

li:hover {
    cursor:pointer;
    font-weight:bolder;
    background-color:rgba(191, 191, 191, 0.742)
}

.void {
    visibility:hidden;
}

.emphasis {
    font-style:italic;
    background-color:rgba(194, 194, 194, 0.834)
}
