#links {
    display:flex;
    flex-direction:column;
}

li:hover > a {
    cursor: pointer;
    font-size:larger;
    max-width:fit-content;
}

footer {
    text-align:center;
}

h1 {
    border-bottom-width: .1em;
    border-bottom-color:grey;
    border-bottom-style:solid;
}

