#result {
    display:flex;
    flex-direction:row;
    max-height:25em;
}

#list {
    overflow-y: scroll;
    padding-right:.5em;
}

.hoverable:hover {
    background-color:rgb(117, 177, 180);
    font-weight:bolder;
    cursor:pointer;
}

.semiCont {
    min-width: max-content;
    border-radius:1px;
    border-style:solid;
    border-color:lightgrey;
}

.labels {
    text-align:center;
    border-width:1px;
    border-style:solid;
    border-color:grey;
    background-color:lightgrey;
}

strong {
    cursor:pointer;
}

#tooltips {
    position:absolute;
    visibility:hidden;
    background-color:rgb(201, 201, 201);
    border-radius:1px;
    border-color:grey;
    border-style:solid;
    /* Max width...Overflow? */
}

#organizer {
    display:flex;
    flex-direction:row;
}

#organizer > div {
    padding:1%;
    border-radius: .8em;
    border-color:grey;
    border-style:inset;
    text-align: center;
}

.selected {
    background-color: rgb(117, 177, 180);
}

.fakeRow {
    display:flex;
    flex-direction: row;
}

.fakeRow:hover {
    cursor:crosshair;
}

.fakeRow > * {
    padding-left:1em;
}

.void {
    visibility:hidden;
}

.horiz {
    display: flex;
    flex-direction:row;
}