@font-face {
    font-family: 'Bravura';
    src: url('../Fonts/Bravura.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display:swap;
}

.major > circle {
    fill: rgb(232, 232, 232);
}

g:hover {
    cursor:pointer;
}

g:hover > text {
    font-weight: bolder;
}

g:hover > circle {
    r: 22;
}

.transform {
    font-style:italic;
}

.transform:hover {
    font-weight:bolder;
    background-color:cadetblue;
}

#upper {
    display:flex;
    flex-direction:row;
}

#tooltips {
    position:absolute;
    visibility:hidden;
    background-color:rgb(201, 201, 201);
    border-radius:1px;
    border-color:grey;
    border-style:solid;
}

#drawing {
    padding-right:2em;
    padding-left:2em;
}

.miniBox {
    border-radius: .3em;
    border-style: solid;
    border-color:grey;
    padding-bottom: .2em;
}

.miniBox > * {
    text-align: center;
}

h1 {
    border-bottom-width: .1em;
    border-bottom-color:grey;
    border-bottom-style:solid;
}

p {
    font-family: 'Bravura';
}
