
@font-face {
    font-family: 'Bravura';
    src: url('../Fonts/Bravura.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display:swap;
}

#container {
    display:flex;
    flex-direction:row;
}

h1 {
    border-bottom-width: .1em;
    border-bottom-color:grey;
    border-bottom-style:solid;
}

#left {
    min-width:20%;
}

#display {
    display:flex;
    flex-direction:column;
    border-radius:1px;
    border-style:inset;
    border-color:grey;
    
    text-overflow:wrap;
}

.selected {
    background-color:rgb(117, 177, 180);
}

li:hover {
    cursor:pointer;
    font-weight:bolder;
    background-color:rgb(117, 177, 180);
}

.void {
    visibility:hidden;
}

.emphasis {
    font-style:italic;
    background-color:rgba(194, 194, 194, 0.834)
}

h2 {
    border-bottom:.04em;
    border-bottom-color: grey;
    border-bottom-style: double;
    background-color:rgb(117, 177, 180);
}

li > p {
    font-family:'Bravura';
}