.container {
    display:flex;
    flex-direction:row;
}

h4,p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h1 {
    border-bottom-width: .1em;
    border-bottom-color:grey;
    border-bottom-style:solid;
}

.label {
    /* font-size:14px; */
    font-size:1em;
    background-color:lightgrey;
    transform-origin:center;
    border-color:white;
    border-width:0.08em;
    border-style:inset;
    min-width:2.2em;
    min-height:2.2em;
    aspect-ratio:1/1;
    text-align:center;
    align-content:space-evenly;
}

.primary {
    background-color:rgb(144, 144, 208);
    position:relative;
    min-width:15%;
    border: 1px solid grey;
    height:fit-content;
}

.parent {
    display:flex;
    flex-direction:row;
}

h4 {
    margin:.5em;
}

.stor {
    visibility:hidden;
    display:flex;
    flex-direction:column;
    position:absolute;
    width:99%;
    max-height:20em;
    overflow-y:auto;
    overflow-x:hidden;
    border:1px solid black;
}

.primary:hover {
    background-color:rgb(100, 100, 208);
    cursor:pointer;
}

.primary:hover > .stor {
    visibility:visible;
}

.myOption {
    background-color:rgb(198, 198, 198);
    text-align:center;
    width: 100%;
    height:2em;
    line-height:2em;
    box-sizing:border-box;
    border: 1px solid grey;
}

.myOption:hover {
    background-color:rgb(59, 59, 59);
    color:white;
    transform: scale(1.1);
    overflow:visible;
}

.ddownSelect {
    background-color:rgb(94, 94, 94);
    color:white;
}

.label:hover {
    cursor:pointer;
    transform: scale(1.2);
}

.void {
    /* font-size:14px; */
    font-size:1.2em;
    visibility:hidden;
    min-width:2.2em;
    min-height:2.2em;
    aspect-ratio:1/1;
}

.select {
    background-color:lightblue;
    font-weight: bolder;
}

.labelSelect {
    background-color:grey;
    border-color:black;
    color:white;
}

.find {
    background-color:darkcyan !important;
    color: white !important;
}

.single {
    border-width:0.08em;
    border-color:grey;
    border-style:solid;
    text-align:center;
    padding: .7%;
}

#matrix {
    display:flex;
    flex-direction:row;
}

#showSearch {
    padding:1%;
    border-color:grey;
    border-style:solid;
    border-width:0.08em;
}

#lower {
    display:flex;
    flex-direction:row;
}

#lower > * {
    border-radius:0.1em;
    border-style:inset;
    border-color:grey;
    padding:1%;
    align-content:space-evenly;
}

.fullDetails {
    display:flex;
    flex-direction: column;
}

.inline {
    display:flex;
    flex-direction:column;
}

.inline > div {
    display:flex;
    flex-direction: column;
}
.dark {
    background-color:rgb(196, 237, 255);
}


.rowFind {
    background-color:rgb(255, 170, 139);
}

.columnFind {
    background-color: rgb(155, 184, 238);
}

.both {
    background-color:rgb(168, 255, 185);
}

/* Positional invariance */
.positInvar {
    border-color: black;
    background-color:aqua;
    font-style:italic;
}

#tooltips {
    position:absolute;
    visibility:hidden;
    background-color:rgb(201, 201, 201);
    border-radius:0.1em;
    border-color:grey;
    border-style:solid;
    /* Max width...Overflow? */
}

button:hover {
    transform:scale(1.2);
    cursor:pointer;
    font-weight:bolder;
}

#key {
    display:flex;
    flex-direction:column;
    align-self:center;
    padding-left:5%;
}

.keyElement {
    /* width: 30px;
    height: 30px; */
    width:2em;
    height:2em;
    border-color:grey;
    border-style:inset;
    border-width: 0.08em;
    /* padding: 2px; */
}

.keyElement:hover {
    transform:scale(1.2);
    /* cursor:alias; */
}

.keyBox {
    display:flex;
    flex-direction:row;
}

.keyBox > p {
    margin:0px;
    padding-left: 2%;
    padding-right:2px;
}

/* .dropdown {      /*Does anything use this?
    min-height:fit-content;
    max-height:35px;
} */

#middle {
    display:flex;
    flex-direction:row;
    padding:2%;
}

.keyTitle {
    text-align:center;
}

#matrix {
    align-content: space-evenly;
    display:flex;
    flex-direction:column;
    align-content: space-evenly;
    text-align:center;
}

.cell {
    font-size:1em;
    border-color:grey;
    border-style:inset;
    border-width:0.08em;;
    text-align: center;
    min-width:2.2em;
    min-height:2.2em;
    aspect-ratio:1/1;
    align-content:space-evenly;
}

.row {
    display:flex;
    flex-direction: row;
    align-content: space-evenly;
    text-align:center;
}

.hoverable:hover {
    background-color:lightgrey;
    font-weight:bolder;
    cursor: pointer;
}

.cell:hover {
    cursor:crosshair;
    transform: scale(1.1);
}

.fakeRow {
    display:flex;
    flex-direction:row;
    max-height:fit-content;
}

.fakeRow > * {
    /* align-content:space-evenly; */
    min-width: 1.2em;
    max-width:fit-content;
}

.wow {
    padding-right:.2em;
}

.wow:hover {
    cursor:pointer;
    /* transform:scale(1.06); */
    font-weight: bolder;
}

.phantom {
    background-color:rgba(191, 208, 255, 0.7);
}

#collector {
    display:flex;
    flex-direction: row;
}

#collector > * {
    /* display:flex;
    flex-direction:row; */
    padding:.5em;
}

.col {
    display:flex;
    flex-direction:column;
    padding:.8em;
    text-align:center;
    border-radius:.08em;
    border-style:inset;
    border-color: grey;
}

.col > * {
    /* align-items:center;
    text-align:center !important; */
    align-content: center;
    padding:.5em;
}


.repr {
    display:flex;
    flex-direction:row; 
    text-align:center;
}

.repr > *{
    max-width:2em;
    max-height:2em;
    text-align:center;
}

.oneEntry {
    text-align:center;
}

.oneEntry:hover {
    background-color:lightgrey;
    font-weight:bolder;
}

.color1 {
    background-color: aliceblue;
}

.color2 {
    background-color: rgb(142, 164, 183);
}

.color3 {
    background-color: rgb(75, 120, 156);
    color:white;
}

.color4 {
    background-color: rgb(51, 83, 111);
    color:white;
}

.combinatorialBox {
    padding-left:.3em;
    padding-right:.3em;
    border-style:inset;
    border-color:lightslategray;
    border-width:1px;
    max-height:12em;
    overflow-y:scroll;
    width:100%;
}

#subComponent {
    text-align:center;
}
